.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #003147;
}

.aside__avatar {
    background-image: url('../../../public/avatar.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}