* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body {
  background: lightblue;
}
.wrapper {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-areas:
      "header header"
      "nav article";
  grid-template-rows: 0.1fr 0.9fr;
  grid-template-columns: 1fr 1.8fr;
}

.header {
  grid-area: header;
}
.navbar {
  grid-area: nav;
}
.profile {
  grid-area: article;
}